.container_list {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.ul_list {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.li_list {
  list-style: none;
}

.li_list_cantidad {
  list-style: none;
  width: 40px;
  margin: 0 10px;
}

.li_list_descripcion {
  list-style: none;
  width: 150px;
  margin: 0 0px;
}

.li_list_precio {
  list-style: none;
  width: 50px;
  margin: 0 0px;
}

.btn_check {

  background-color: #00FF47;
  color: #555;
  border: none;
  padding: 3px 5px;
  margin: 0 5px;
}

.btn_delete {
  background-color: #FE5757;
  border: none;
  padding: 3px 5px;
}