.container {
  background: #159C09;
  min-height: 75px;
  padding: 5px;
  position: relative;
}

.listTitle {
  position: absolute;
  left: 19.17%;
  top: 14.38%;
  color: #FFFFFF;
  font-size: 14px;
  display: flex;

  align-items: center;
}