* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

.App {
  max-width: 375px;
  min-height: 667px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 21px;
  position: relative;
}