* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  position: relative;
}